@charset "UTF-8";
/* CSS Document */

html {font-size: 100%;} /*16px*/

body {
	font-family: 'Bebas Neue', cursive;
font-family: 'Dosis', sans-serif;
  background-color: #ADD8E6;
  color: #181354;
  margin: 0;
  padding: 50px;
  line-height: 1.75;
}
h1 {
font-family: 'Bebas Neue', cursive;
font-family: 'Dosis', sans-serif;
  font-size: 5em;
color: white;
}

h2 {
	font-family: 'Bebas Neue', cursive;
font-family: 'Dosis', sans-serif;
	font-size: 3em;
color: white;
}

h4 {
	font-family: 'Bebas Neue', cursive;
font-family: 'Dosis', sans-serif;
	font-size: 1.5em;
margin-top: 0;
color: white;
}

dt {
	font-family: 'Bebas Neue', cursive;
font-family: 'Dosis', sans-serif;
	font-size: 2em;
	font-weight: bold;
  color: white;
}
